/* styles to reset the page */
html,
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}

/* page-specific styles */
.villagers {
  height: 100%;
  /* background image stuff below */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.villagers .top-content {
  width: 800px;
  height: 550px;
  margin: 0 auto;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.villagers .top-content .info-buttons {
  width: 150px;
  height: 100%;
  background-color: lightgray;
}

.villagers .top-content .big-image {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.villagers .bot-content {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
}

.villagers .bot-content .nav-button {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

.villagers .bot-content .details {
  width: 800px;
  height: 100%;
  background-color: maroon;
}

/* JESSE IS WORKING ABOVE THIS POINT */
.vil-name {
  text-align: center;
  padding: 5px;
  font-family: arial;
  font-weight: bold;
  font-size: large;
}

.vil-gender {
  text-align: left;
  padding: 5px;
}

.vil-species {
  text-align: left;
  padding: 5px;
}

.vil-birthday {
  text-align: left;
  padding: 5px;
}

.vil-astro {
  text-align: left;
  padding: 5px;
}

.vil-services {
  text-align: left;
  padding: 5px;
}

.vil-button {
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.services-title {
  text-align: left;
  font-weight: bold;
  padding: 5px;
}

/*FAB styles*/
.fab-container {
}

.fab-back {
  /*empty for now, but can add styles later*/
}

.fab-forward {
  /*empty for now, but can add styles later*/
}

.vil-img {
  padding: 40px;
  max-width: 275px;
  max-height: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
