/* styles to reset the page */
html,
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}

/* page-specific styles */
.villagers {
  height: 100%;
  /* background image stuff below */
  background-image: url("/photos/animal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.villagers .top-content {
  width: 800px;
  height: 550px;
  margin: 0 auto;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.villagers .top-content .info-buttons {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: lightgray; */
}

.villagers .top-content .info-buttons div {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.button1 {
  background-image: url("/photos/star.png");
  background-size: cover;
}
.button2 {
  background-image: url("/photos/images.jpeg");
  background-size: cover;
}
.button3 {
  background-image: url("/photos/leaf.png");
  background-size: cover;
}
.button4 {
  background-image: url("/photos/balloon.jpg");
  background-size: cover;
}

.villagers .top-content .big-image {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: burlywood; */
}

.villagers .bot-content {
  width: 500px;
  height: 100px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: bold;
  /* background-color: aquamarine; */
}

.villagers .bot-content .nav-button {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: skyblue; */
}

.villagers .bot-content .details {
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: maroon; */
}

.villagers .bot-content .details hr {
  width: 90%;
}

/* JESSE IS WORKING ABOVE THIS POINT */

.vil-img {
  padding: 40px;
  /* max-width: 275px; */
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}
